.header{
    background-image: url(../images/banner/banner3.png);
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-tittle{
    margin-left: 30;
    text-align: right;
    color: aliceblue;
}
.header-description{
    color: rgb(247, 245, 244);
    text-align: right;
    font-size: small;
}
.btn{
    color: #3399ff;
    margin-left: 0px;
    border-radius: 5px;
    border: 0in;
    height: 64px;
    width: 150px;
    left: 1220px;
    top: 50px;
    background: white;
}